

    <div class="col-lg-3 col-sm-3">
    <!--<div class="panel panel-default">
	    <div class="panel-heading">
				<h3 class="panel-title">เมนูลูกค้า</h3>
  		</div>
		<div class="panel-body">
		    <div class="container-fluid">
               <ul>
                <li *ngFor="let menu of menus"><a [routerLink]="[menu.link]">{{menu.head}}</a></li>
               
               </ul>
			</div>
		</div>
   </div>-->
    <cust-leftmenu></cust-leftmenu>
    </div>
    <div class="col-12 col-md-auto">
      <div id="content">
          <router-outlet ></router-outlet>         
      </div>
    </div>
       
		
 
	
			
		


  



