/*.navbar-default {
  background-color: #f6e0fa;
  border-color: #efbbe1;
}
.navbar-default .navbar-brand {
  color: #ef5ae7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #a411a3;
}
.navbar-default .navbar-text {
  color: #ef5ae7;
}
.navbar-default .navbar-nav > li > a {
  color: #ef5ae7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #a411a3;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #f6e0fa;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ef5ae7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #a411a3;
  background-color: #efbbe1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #efbbe1;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #a411a3;
  background-color: #efbbe1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #a411a3;
  background-color: #efbbe1;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #a411a3;
  background-color: #efbbe1;
}
.navbar-default .navbar-toggle {
  border-color: #efbbe1;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #efbbe1;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ef5ae7;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ef5ae7;
}
.navbar-default .navbar-link {
  color: #ef5ae7;
}
.navbar-default .navbar-link:hover {
  color: #a411a3;
}



@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ef5ae7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #a411a3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #a411a3;
    background-color: #efbbe1;
  }
}*/